[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
django-debug-toolbar = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
drf-nested-routers = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.12"
