@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Vazirmatn", sans-serif;
}

.swiper-button-next , .swiper-button-prev{
    background-color: rgba(253, 253, 253, 0.738);
    width: 30px;
    height: 40px;
    border-radius: 5px;
}


.swiper-button-next::after , .swiper-button-prev::after{
    color: black;
    font-size: 30px;
}



.bg{
    @apply bg-violet-600 text-white 
}
.bg2{
    @apply bg-violet-700 bg-opacity-20 placeholder:text-violet-900
}
.bor{
    @apply border-b border-violet-600
}
.text{
    @apply text-violet-600
}